<h1 class="skip">장애인을 위한 인터넷</h1>
<div class="sidebar-book">
    <ul>
    <li>소개글
        <ol>
        <li><a href="/ifd1996/ifd1996_intro/">머릿말</a></li>
        <li><a href="/ifd1996/ifd1996_author/">저자 소개</a></li>
        </ol>
    </li>
    <li>제1장 인터넷이란?
        <ol>
        <li><a href="/ifd1996/ifd1996_chapter1-1/">인터넷의 역사</a></li>
        <li><a href="/ifd1996/ifd1996_chapter1-2/">인터넷 접속 방법</a></li>
        <li><a href="/ifd1996/ifd1996_chapter1-3/">시각장애인을 위한 인터넷 접속 브라우저 - Lynx</a></li>
        <li><a href="/ifd1996/ifd1996_chapter1-4/">Web 검색엔진</a></li>
        </ol>
    </li>
    <li>제2장 장애 영역별 인터넷 사이트
        <ol>
        <li><a href="/ifd1996/ifd1996_chapter2-1/">장애 일반</a></li>
        <li><a href="/ifd1996/ifd1996_chapter2-2/">시각장애</a></li>
        <li><a href="/ifd1996/ifd1996_chapter2-3/">청각장애</a></li>
        <li><a href="/ifd1996/ifd1996_chapter2-4/">발달장애, 정신지체, 다운증후군, 자폐증</a></li>
        <li><a href="/ifd1996/ifd1996_chapter2-5/">정서장애, 난독증, 주의력 결함장애</a></li>
        </ol>
    </li>
    <li>제3장 주제별 인터넷 사이트
        <ol>
        <li><a href="/ifd1996/ifd1996_chapter3-1/">법률 관련</a></li>
        <li><a href="/ifd1996/ifd1996_chapter3-2/">보조공학</a></li>
        <li><a href="/ifd1996/ifd1996_chapter3-3/">제조 회사</a></li>
        <li><a href="/ifd1996/ifd1996_chapter3-4/">맹도견</a></li>
        <li><a href="/ifd1996/ifd1996_chapter3-5/">수화</a></li>
        </ol>
    </li>
    <li>제4장 LISTSERVE, USENET
        <ol>
        <li><a href="/ifd1996/ifd1996_chapter4-1/">LISTSERV</a></li>
        <li><a href="/ifd1996/ifd1996_chapter4-2/">USENET</a></li>
        </ol>
    </li>
    <li>부록
        <ol>
        <li><a href="/ifd1996/ifd1996_appendix/">시각장애인이 직접 인터넷에 접속하는 방법</a></li>
        <li><a href="/ifd1996/ifd1996_glossary/">찾아보기</a></li>
        </ol>
    </li>
    </ul>
</div>