<div class="header-nav">
	<div class="header-nav-wrap">
		<ul class="header-nav-sns">
			<li><a href="//www.facebook.com/jangkunblog" target="_blank" class="header-nav-sns-facebook" title="성민장군 Facebook"><span
					 class="skip">facebook</span></a></li>
			<li><a href="//www.twitter.com/jangkunblog" target="_blank" class="header-nav-sns-twitter" title="성민장군 Twitter"><span
					 class="skip">twitter</span></a></li>
			<li><a href="//www.youtube.com/jangkunblog" target="_blank" class="header-nav-sns-youtube" title="성민장군 Youtube"><span
					 class="skip">Youtube</span></a></li>
			<li><a href="//www.flickr.com/jangkunblog/" target="_blank" class="header-nav-sns-flickr" title="성민장군 flickr"><span
					 class="skip">flickr</span></a></li>
			<li><a href="//kr.linkedin.com/in/jangkunblog" target="_blank" class="header-nav-sns-linkedin" title="성민장군 LinkedIn"><span
					 class="skip">linkedin</span></a></li>
			<li><a href="//feeds.feedburner.com/jangkunblog" target="_blank" class="header-nav-sns-rss" title="성민장군 RSS"><span
					 class="skip">RSS</span></a></li>
		</ul>
	</div>
</div>
