---
layout: default
---



<article class="page">
  <header class="entry-header">
    <p class="aligncenter"><img src="/assets/img/common/logo.png" alt="한국 웹 접근성 그룹"></p>
    <h1 class="entry-title">소개</h1>
  </header>

  <div class="entry-content">
    <p>한국 웹 접근성 그룹(Korea Web Accessbility Group) KWAG은 국내 웹 접근성을 향상시키기 위한 자발적인 모임으로 회원 상호간의 정보 공유와 스터디, 세미나 등을 진행하는
      온라인/오프라인 모임입니다.</p>
    <h2>About KWAG</h2>
    <p>KWAG 은 한국 웹 접근성 그룹(Korea Web Accessbility group)의 약칭으로써, &#8220;콱&#8221;이라고 합니다.</p>
    <p>KWAG은 국내 웹 접근성의 증진을 도모하기 위해 회원들이 자발적으로 스터디와 세미나 등을 준비하고 진행합니다. 2006년 9월 국내 웹 접근성 전문가들의 주도로 첫 오프라인 세미나를 진행한 이후,
      격주에 한번씩 스터디와 세미나를 진행하였습니다. 이외에도 웹 접근성과 관련된 이슈들을 토크 형식으로 풀어보는 &#8216;<a href="http://kwag.net/about-tawa/">다와(Talk
        About Web Accessibility)</a>&#8216;라는 행사를 진행하고 있습니다.</p>
    <p>2006년까지는 추천제 회원방식과 이메일링 정보공유 방식으로 모임을 운영해왔지만, 기존의 폐쇄적 정보 공유를 해소하고자 2007년부터 공개형 회원방식으로 전환합니다.</p>
    <p>2011년 11월 27일. 활동폭을 좀 넓히기 위해 <a href="https://www.facebook.com/groups/kwag.net/">Facebook에 그룹</a>을 만들어 활동을
      시작하였습니다. 현재도 주된 활동 보고와 사용자 참여는 이곳을 통해 이루어지고 있습니다.</p>
    <h2>Member</h2>
    <p>KWAG 회원은 그 성격에 따라 아래처럼 구분됩니다.</p>
    <ul>
      <li>운영진 : KWAG을 자발적으로 운영하며, 오프라인 세미나와 스터디를 준비하고 진행합니다.</li>
      <li>회원 : <a href="https://www.facebook.com/groups/kwag.net/">KWAG Facebook Group</a>에 가입하여 정보를 공유하며, 의견을 교환합니다.
        또한 오프라인 모임에 참여하고 활동합니다.(2014.10.01.현재)</li>
    </ul>
    <p>KWAG의 운영진은 아래와 같습니다.</p>
    <ul>
      <li><a href="http://www.jangkunblog.com/" target="_blank">장성민</a> (jangkunblog[앳]gmail.com)</li>
      <li><a href="http://resistan.com/" target="_blank">조현진</a> (resistan[앳]gmail.com)</li>
      <li><a href="http://semantic.pe.kr/" target="_blank">김정윤</a> (kjy2143[앳]gmail.com)</li>
      <li>박상혁 (parkbur[앳]gmail.com)</li>
      <li><a href="http://jhyun.wordpress.com/" target="_blank">현준호</a> (jhyun22[앳]gmail.com)</li>
    </ul>
    <h2>Activity</h2>
    <p>KWAG은 국내 웹 접근성의 증진을 위해 다각적인 활동을 진행하고 있습니다. 기본적으로 오프라인 스터디와 세미나를 진행하고 있으며, 외부 기관의 접근성 향상을 위한 자문이나 컨설팅도 하고 있습니다.</p>
    <p>또한, 온라인 그룹에서도 웹 접근성 관련 다양한 정보를 공유하고 있습니다. 접근성 관련 뉴스나 기술 정보, 노하우 등을 공유하고 의견을 교환함으로써, 지역적 상황으로 오프라인 모임에 참여하지 못하는
      회원분들의 활동을 보장하고 있습니다.</p>
    <h2>Link</h2>
    <ul>
      <ul>
        <li><a href="http://facebook.com/groups/kwag.net">KWAG 페이스북 그룹스</a></li>
        <li><a href="http://www.facebook.com/groups/kwag.net/">KWAG 페이스북 공식 페이지</a></li>
        <li><a href="https://plus.google.com/108507668284799464388">Google+ 페이지</a></li>
        <li><a href="http://twitter.com/kwag2006">KWAG 트위터</a></li>
        <li><a href="http://www.flickr.com/photos/kwag2006/sets/">KWAG 공식 사진첩</a></li>
      </ul>
    </ul>
  </div>
</article>